<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Sales Order</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>New Sales Order</p>
	<p th:text="${salesOrder.orderDate}"></p>

	<form id="add-salesorder"
		th:action="@{/salesorder/save}" method="post" th:object="${salesOrder}">
		<div>
			<label for="orderId">Order ID</label> <input type="text" id="orderId"
				name="orderId" th:field="*{orderId}" th:value="*{orderId}" />
		</div>
		<div>
			<label for="orderDate">Order Date</label> <input type="date"
				id="orderDate" name="orderDate" th:field="${{salesOrder.orderDate}}" 
				th:value="${{salesOrder.orderDate}}" />
		</div>
		<div>
			<button type="submit">Save</button>
		</div>
	</form>

</body>
</html>
